In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [494]:
data = pd.read_csv(
    "./FOW_OriginalData.csv",
    sep=";",              # Adjust this if the delimiter is different (e.g., ',' or '\t')
    engine="python",      # Use the Python engine for better error handling
    on_bad_lines="skip",  # Skip problematic lines
    skip_blank_lines=True # Ignore blank lines
)
data.head()

,start,end,_1_Name_of_the_respondent,_2_Mobile_phone,_3_Gender,_3_Gender/male,_3_Gender/female,_4_Community,_5_LGA,_6_State,...,_id,_uuid,_submission_time,_validation_status,_notes,_status,_submitted_by,__version__,_tags,_index
0,2024-09-09 15:24:30.423000+01:00,2024-09-10 22:01:02.695000+01:00,Samson Bulus Ajegena,14673664.0,male,1,0,Doma,Doma,nasarawa,...,593625172,f60b2afe-700b-48d5-81c7-7c09e70daf87,2024-09-10 21:06:36,NaN,NaN,submitted_via_web,janetakolo123,vBzwz2wyy9Q2jYy3bRwBJ9,NaN,1
1,2024-09-10 11:14:51.995000+01:00,2024-09-10 22:01:19.675000+01:00,Bashir Mohamed urman,61618055.0,male,1,0,Doma,Doma,nasarawa,...,593625173,3c6da9d1-50fc-45d1-b041-b8cb8509ffa5,2024-09-10 21:06:37,NaN,NaN,submitted_via_web,janetakolo123,vBzwz2wyy9Q2jYy3bRwBJ9,NaN,2
2,2024-09-10 11:30:59.012000+01:00,2024-09-10 22:01:10.155000+01:00,Manja Akolo Asoloko,18221944.0,male,1,0,Doma,Doma,nasarawa,...,593625175,c8ae2430-5f15-4413-85ee-2d3a2d2e1d89,2024-09-10 21:06:37,NaN,NaN,submitted_via_web,janetakolo123,vBzwz2wyy9Q2jYy3bRwBJ9,NaN,3
3,2024-09-10 14:54:22.364000+01:00,2024-09-10 22:01:26.872000+01:00,Padama Mamuda,65094844.0,male,1,0,Doma,Doma,nasarawa,...,593625176,bd9da412-3ca2-46bc-8e88-437ca30cb5d6,2024-09-10 21:06:38,NaN,NaN,submitted_via_web,janetakolo123,vBzwz2wyy9Q2jYy3bRwBJ9,NaN,4
4,2024-09-10 15:08:49.979000+01:00,2024-09-10 22:00:52.039000+01:00,Moses Omame,67180588.0,male,1,0,Doma,Doma,nasarawa,...,593625177,dbe91c3a-2f6d-4f4c-8d5f-a00c80c5cd71,2024-09-10 21:06:38,NaN,NaN,submitted_via_web,janetakolo123,vBzwz2wyy9Q2jYy3bRwBJ9,NaN,5

In [352]:
data.head()

,start,end,_1_Name_of_the_respondent,_2_Mobile_phone,_3_Gender,_3_Gender/male,_3_Gender/female,_4_Community,_5_LGA,_6_State,...,_id,_uuid,_submission_time,_validation_status,_notes,_status,_submitted_by,__version__,_tags,_index
0,2024-09-09 15:24:30.423000+01:00,2024-09-10 22:01:02.695000+01:00,Samson Bulus Ajegena,14673664.0,male,1,0,Doma,Doma,nasarawa,...,593625172,f60b2afe-700b-48d5-81c7-7c09e70daf87,2024-09-10 21:06:36,NaN,NaN,submitted_via_web,janetakolo123,vBzwz2wyy9Q2jYy3bRwBJ9,NaN,1
1,2024-09-10 11:14:51.995000+01:00,2024-09-10 22:01:19.675000+01:00,Bashir Mohamed urman,61618055.0,male,1,0,Doma,Doma,nasarawa,...,593625173,3c6da9d1-50fc-45d1-b041-b8cb8509ffa5,2024-09-10 21:06:37,NaN,NaN,submitted_via_web,janetakolo123,vBzwz2wyy9Q2jYy3bRwBJ9,NaN,2
2,2024-09-10 11:30:59.012000+01:00,2024-09-10 22:01:10.155000+01:00,Manja Akolo Asoloko,18221944.0,male,1,0,Doma,Doma,nasarawa,...,593625175,c8ae2430-5f15-4413-85ee-2d3a2d2e1d89,2024-09-10 21:06:37,NaN,NaN,submitted_via_web,janetakolo123,vBzwz2wyy9Q2jYy3bRwBJ9,NaN,3
3,2024-09-10 14:54:22.364000+01:00,2024-09-10 22:01:26.872000+01:00,Padama Mamuda,65094844.0,male,1,0,Doma,Doma,nasarawa,...,593625176,bd9da412-3ca2-46bc-8e88-437ca30cb5d6,2024-09-10 21:06:38,NaN,NaN,submitted_via_web,janetakolo123,vBzwz2wyy9Q2jYy3bRwBJ9,NaN,4
4,2024-09-10 15:08:49.979000+01:00,2024-09-10 22:00:52.039000+01:00,Moses Omame,67180588.0,male,1,0,Doma,Doma,nasarawa,...,593625177,dbe91c3a-2f6d-4f4c-8d5f-a00c80c5cd71,2024-09-10 21:06:38,NaN,NaN,submitted_via_web,janetakolo123,vBzwz2wyy9Q2jYy3bRwBJ9,NaN,5

In [354]:
data.head()

,start,end,_1_Name_of_the_respondent,_2_Mobile_phone,_3_Gender,_3_Gender/male,_3_Gender/female,_4_Community,_5_LGA,_6_State,...,_id,_uuid,_submission_time,_validation_status,_notes,_status,_submitted_by,__version__,_tags,_index
0,2024-09-09 15:24:30.423000+01:00,2024-09-10 22:01:02.695000+01:00,Samson Bulus Ajegena,14673664.0,male,1,0,Doma,Doma,nasarawa,...,593625172,f60b2afe-700b-48d5-81c7-7c09e70daf87,2024-09-10 21:06:36,NaN,NaN,submitted_via_web,janetakolo123,vBzwz2wyy9Q2jYy3bRwBJ9,NaN,1
1,2024-09-10 11:14:51.995000+01:00,2024-09-10 22:01:19.675000+01:00,Bashir Mohamed urman,61618055.0,male,1,0,Doma,Doma,nasarawa,...,593625173,3c6da9d1-50fc-45d1-b041-b8cb8509ffa5,2024-09-10 21:06:37,NaN,NaN,submitted_via_web,janetakolo123,vBzwz2wyy9Q2jYy3bRwBJ9,NaN,2
2,2024-09-10 11:30:59.012000+01:00,2024-09-10 22:01:10.155000+01:00,Manja Akolo Asoloko,18221944.0,male,1,0,Doma,Doma,nasarawa,...,593625175,c8ae2430-5f15-4413-85ee-2d3a2d2e1d89,2024-09-10 21:06:37,NaN,NaN,submitted_via_web,janetakolo123,vBzwz2wyy9Q2jYy3bRwBJ9,NaN,3
3,2024-09-10 14:54:22.364000+01:00,2024-09-10 22:01:26.872000+01:00,Padama Mamuda,65094844.0,male,1,0,Doma,Doma,nasarawa,...,593625176,bd9da412-3ca2-46bc-8e88-437ca30cb5d6,2024-09-10 21:06:38,NaN,NaN,submitted_via_web,janetakolo123,vBzwz2wyy9Q2jYy3bRwBJ9,NaN,4
4,2024-09-10 15:08:49.979000+01:00,2024-09-10 22:00:52.039000+01:00,Moses Omame,67180588.0,male,1,0,Doma,Doma,nasarawa,...,593625177,dbe91c3a-2f6d-4f4c-8d5f-a00c80c5cd71,2024-09-10 21:06:38,NaN,NaN,submitted_via_web,janetakolo123,vBzwz2wyy9Q2jYy3bRwBJ9,NaN,5

In [404]:
data = data.drop(columns=['_3_Gender/male', '_3_Gender/female'], errors='ignore')
data = data.drop(columns=['_6_State/nasarawa', '_6_State/niger'], errors='ignore')
data = data.drop(columns=['_8_Language_of_interview/english', '_8_Language_of_interview/hausa', '_8_Language_of_interview/others_specify'], errors='ignore')
data = data.drop(columns=['_10_Name_of_supervisor/purity_okey', '_10_Name_of_supervisor/onu_ojobo'], errors='ignore')
data = data.drop(columns=['_11_Age_of_Respondent/20_30', '_11_Age_of_Respondent/31_40', '_11_Age_of_Respondent/41_50','_11_Age_of_Respondent/51_60', '_11_Age_of_Respondent/60_and_above'], errors='ignore')
data = data.drop(columns=['_12_Marital_status/single', '_12_Marital_status/married', '_12_Marital_status/widowed_widower', '_12_Marital_status/divorced'], errors='ignore')
data = data.drop(columns=['_13_What_is_the_educ_level_of_respondent/primary', '_13_What_is_the_educ_level_of_respondent/secondary', '_13_What_is_the_educ_level_of_respondent/tertiary', '_13_What_is_the_educ_level_of_respondent/technical_and_vocational', '_13_What_is_the_educ_level_of_respondent/none'], errors='ignore')
data = data.drop(columns=['_15_What_is_your_mai_source_of_livelihood/a__farming', '_15_What_is_your_mai_source_of_livelihood/b__civil_servant', '_15_What_is_your_mai_source_of_livelihood/c__business', '_15_What_is_your_mai_source_of_livelihood/others_specify'], errors='ignore')
data = data.drop(columns=['_16_Average_monthly_income/a__less_than_50_000', '_16_Average_monthly_income/b__51_000_100_000', '_16_Average_monthly_income/c__101_000_150_000', '_16_Average_monthly_income/d__above_150_000' ], errors='ignore')
data = data.drop(columns=['_21_Did_you_receive_on_the_Wheel_in_2023/yes', '_21_Did_you_receive_on_the_Wheel_in_2023/no'], errors='ignore')
data = data.drop(columns=['_22_If_yes_what_type_of_support/training', '_22_If_yes_what_type_of_support/input_support', '_22_If_yes_what_type_of_support/market_linkage','_22_If_yes_what_type_of_support/extension_services'], errors='ignore')
data = data.drop(columns=['_23_Which_inputs_di_rm_on_Wheels_in_2023/seeds', '_23_Which_inputs_di_rm_on_Wheels_in_2023/fertilizer', '_23_Which_inputs_di_rm_on_Wheels_in_2023/herbicides','_23_Which_inputs_di_rm_on_Wheels_in_2023/equipment','_23_Which_inputs_di_rm_on_Wheels_in_2023/others', '_23_Which_inputs_di_rm_on_Wheels_in_2023/pesticides'], errors='ignore')
data = data.drop(columns=['_24_Were_the_inputs_r_farming_operations/yes', '_24_Were_the_inputs_r_farming_operations/no'], errors='ignore')
data = data.drop(columns=['_25_Which_crop_were_rm_on_Wheels_in_2023/rice', '_25_Which_crop_were_rm_on_Wheels_in_2023/soya_beans'], errors='ignore')

data = data.drop(columns=['_30_Before_Farm_on_W_ate_for_rice_soybean/less_than_0_5_hectare','_30_Before_Farm_on_W_ate_for_rice_soybean/0_5_hectare','_30_Before_Farm_on_W_ate_for_rice_soybean/1_hectare','_30_Before_Farm_on_W_ate_for_rice_soybean/1_5_hectare','_30_Before_Farm_on_W_ate_for_rice_soybean/above_1_5_hectares' ], errors='ignore')
data = data.drop(columns=['_32_After_Farm_on_Whe_urrently_cultivating/less_than_0_5_hectares', '_32_After_Farm_on_Whe_urrently_cultivating/0_5_hectares','_32_After_Farm_on_Whe_urrently_cultivating/1_hectares','_32_After_Farm_on_Whe_urrently_cultivating/2_hectares', '_32_After_Farm_on_Whe_urrently_cultivating/above_2_hectares' ], errors='ignore')
data = data.drop(columns=['_36_How_would_you_rat_m_on_Wheels_support/excellent','_36_How_would_you_rat_m_on_Wheels_support/very_good', '_36_How_would_you_rat_m_on_Wheels_support/good', '_36_How_would_you_rat_m_on_Wheels_support/bad_poor', '_36_How_would_you_rat_m_on_Wheels_support/very_poor' ], errors='ignore')
data = data.drop(columns=['_37_Did_you_attend_a_ls_between_2018_2023/yes','_37_Did_you_attend_a_ls_between_2018_2023/no', '' ], errors='ignore')
data = data.drop(columns=['_38_How_often_did_you_from_Farm_On_Wheels/weekly','_38_How_often_did_you_from_Farm_On_Wheels/monthly', '_38_How_often_did_you_from_Farm_On_Wheels/quarterly', '_38_How_often_did_you_from_Farm_On_Wheels/annually' ], errors='ignore')
data = data.drop(columns=['_39_Did_the_training_ur_farming_practices/yes','_39_Did_the_training_ur_farming_practices/no', '' ], errors='ignore')
data = data.drop(columns=['_40_Which_specific_f_elect_all_that_apply/land_preparation','_40_Which_specific_f_elect_all_that_apply/planting_techniques', '_40_Which_specific_f_elect_all_that_apply/weed_control_techniques', '_40_Which_specific_f_elect_all_that_apply/pest_and_disease_management', '_40_Which_specific_f_elect_all_that_apply/harvest_and_post_harvest_training' ], errors='ignore')
data = data.drop(columns=['_41_Have_you_noticed_rned_during_training/yes','_41_Have_you_noticed_rned_during_training/no', '' ], errors='ignore')
data = data.drop(columns=['_42_Have_you_ever_rec_y_other_organization/yes','_42_Have_you_ever_rec_y_other_organization/no', '' ], errors='ignore')
data = data.drop(columns=['_45_How_will_you_rate_our_Extension_Agents/excellent', '_45_How_will_you_rate_our_Extension_Agents/good', '_45_How_will_you_rate_our_Extension_Agents/poor', '_45_How_will_you_rate_our_Extension_Agents/very_good' ], errors='ignore')
data = data.drop(columns=['_46_How_often_do_you_our_extension_agents/weekly','_46_How_often_do_you_our_extension_agents/monthly', '_46_How_often_do_you_our_extension_agents/every_two_months', '_46_How_often_do_you_our_extension_agents/never' ], errors='ignore')
data = data.drop(columns=['_49_How_do_you_usuall_elect_all_that_apply/markets','_49_How_do_you_usuall_elect_all_that_apply/traders', '_49_How_do_you_usuall_elect_all_that_apply/neighboring_farmers', '_49_How_do_you_usuall_elect_all_that_apply/cooperatives_or_unions','_49_How_do_you_usuall_elect_all_that_apply/extension_agents_farm_on_wheels','_49_How_do_you_usuall_elect_all_that_apply/radio','_49_How_do_you_usuall_elect_all_that_apply/television','_49_How_do_you_usuall_elect_all_that_apply/sms_messages','_49_How_do_you_usuall_elect_all_that_apply/others__please_specify'  ], errors='ignore')
data = data.drop(columns=['_50_Are_the_biggest_Select_up_to_three/lack_of_herbicides','_50_Are_the_biggest_Select_up_to_three/lack_of_fertilizers', '_50_Are_the_biggest_Select_up_to_three/lack_of_demand','50_Are_the_biggest_Select_up_to_three/lack_of_labor','_50_Are_the_biggest_Select_up_to_three/lack_of_credit','_50_Are_the_biggest_Select_up_to_three/insufficient_cash','_50_Are_the_biggest_Select_up_to_three/lack_of_market_access','_50_Are_the_biggest_Select_up_to_three/natural_disaster','_50_Are_the_biggest_Select_up_to_three/pests_and_disease','_50_Are_the_biggest_Select_up_to_three/lack_of_labor','_50_Are_the_biggest_Select_up_to_three/lack_of_access_to_improved_seeds','_50_Are_the_biggest_Select_up_to_three/others__please_specify' ], errors='ignore')
data = data.drop(columns=['_51_What_support_or_s_elect_all_that_apply/training','_51_What_support_or_s_elect_all_that_apply/extension_services', '_51_What_support_or_s_elect_all_that_apply/market_access_support','_51_What_support_or_s_elect_all_that_apply/financial_support', '_51_What_support_or_s_elect_all_that_apply/others__please_specify','51_What_support_or_s_elect_all_that_apply/extension_services' ], errors='ignore')
data = data.drop(columns=['_52_Over_the_past_5_y_elect_all_that_apply/drought','_52_Over_the_past_5_y_elect_all_that_apply/flood', '_52_Over_the_past_5_y_elect_all_that_apply/landslide_earthquake','_52_Over_the_past_5_y_elect_all_that_apply/pest__animal_infestation_such_as_grasscu','_52_Over_the_past_5_y_elect_all_that_apply/others__specify' ], errors='ignore')
data = data.drop(columns=['_53_How_did_you_cope_elect_all_that_apply/reduced_planting_area','_53_How_did_you_cope_elect_all_that_apply/adopt_resistant_varieties', '_53_How_did_you_cope_elect_all_that_apply/used_improved_seeds','_53_How_did_you_cope_elect_all_that_apply/sought_assistance_from_an_organization', '_53_How_did_you_cope_elect_all_that_apply/others__please_specify' ], errors='ignore')
data = data.drop(columns=['_54_Overall_how_sat_ed_by_Farm_On_Wheels/very_satisfied','_54_Overall_how_sat_ed_by_Farm_On_Wheels/satisfied', '_54_Overall_how_sat_ed_by_Farm_On_Wheels/neutral','_54_Overall_how_sat_ed_by_Farm_On_Wheels/dissatisfied','_54_Overall_how_sat_ed_by_Farm_On_Wheels/very_dissatisfied' ], errors='ignore')
data = data.drop(columns=['_57_In_what_areas_d_elect_all_that_apply/timely_provision_of_inputs','_57_In_what_areas_d_elect_all_that_apply/better_training_programs', '_57_In_what_areas_d_elect_all_that_apply/access_to_markets','_57_In_what_areas_d_elect_all_that_apply/financial_support','_57_In_what_areas_d_elect_all_that_apply/technical_support','_57_In_what_areas_d_elect_all_that_apply/others__please_specify' ], errors='ignore')
data = data.drop(columns=['_58_How_would_you_rat_in_the_last_5_years/excellent','_58_How_would_you_rat_in_the_last_5_years/good', '_58_How_would_you_rat_in_the_last_5_years/fair','_58_How_would_you_rat_in_the_last_5_years/poor','_58_How_would_you_rat_in_the_last_5_years/very_poor' ], errors='ignore')
data = data.drop(columns=['_61_If_yes_kindly_choose_from_the_list/communal_clashes','_61_If_yes_kindly_choose_from_the_list/banditry', '_61_If_yes_kindly_choose_from_the_list/others__specify' ], errors='ignore')
data = data.drop(columns=['_62_How_has_insecurit_hin_the_last_5_years/i_lost_some__all_my_yield__farm_produce','_62_How_has_insecurit_hin_the_last_5_years/i_lost_my_farmland_due_to_insecurity', '_62_How_has_insecurit_hin_the_last_5_years/i_relocated_due_to_insecurity','_62_How_has_insecurit_hin_the_last_5_years/others__pls_specify' ], errors='ignore')
data = data.drop(columns=['','/', '' ], errors='ignore')
data = data.drop(columns=['73_What_is_the_curr_ecurity_in_your_area/normalcy_has_returned','_73_What_is_the_curr_ecurity_in_your_area/normalcy_has_returned','_73_What_is_the_curr_ecurity_in_your_area/still_have_occasional_attacks', '_73_What_is_the_curr_ecurity_in_your_area/security_has_become_worse','_73_What_is_the_curr_ecurity_in_your_area/i_relocated_to_a_new_area', '_73_What_is_the_curr_ecurity_in_your_area/others__pls_specify' ], errors='ignore')
data = data.drop(columns=['','/', '' ], errors='ignore')

# Save the cleaned data to a new CSV file
data.to_csv("./cleaned_data.csv", index=False)
data

#Usingiloc to regulate the column I want to see below.
columns_10_to_20 = data.iloc[:, 63:79]
columns_10_to_20.head()

,_62_How_has_insecurit_hin_the_last_5_years,_73_What_is_the_curr_ecurity_in_your_area,_28_How_much_did_you_ybean_per_KG_in_2023,_id,_tags,_index
0,i_lost_my_farmland_due_to_insecurity,normalcy_has_returned,320.0,593625172,NaN,1
1,i_lost_some__all_my_yield__farm_produce,normalcy_has_returned,320.0,593625173,NaN,2
2,i_lost_some__all_my_yield__farm_produce,normalcy_has_returned,320.0,593625175,NaN,3
3,i_lost_some__all_my_yield__farm_produce,normalcy_has_returned,320.0,593625176,NaN,4
4,i_relocated_due_to_insecurity,normalcy_has_returned,320.0,593625177,NaN,5

In [438]:
#Dropping unwanted column
# Delete unwanted columns permanently
# Note that it can only be run ONCE, after that it will through an error that it cannot find that page
drop_Data = data.drop(columns=['_63_What_is_the_curr_ecurity_in_your_area', '_63_What_is_the_curr_ecurity_in_your_area/normalcy_has_returned','_63_What_is_the_curr_ecurity_in_your_area/still_have_occasional_attacks','_63_What_is_the_curr_ecurity_in_your_area/security_has_become_worse','_63_What_is_the_curr_ecurity_in_your_area/i_relocated_to_a_new_area','_63_What_is_the_curr_ecurity_in_your_area/others__pls_specify','SECTION_I_NUTRITION_AND_FOOD_SECURITY','SECTION_C_FARM_ON_W_AND_FARMER_S_INCOME','BEFORE_FARM_ON_WHEELS_INTERVENTION','AFTER_FARM_ON_WHEELS_INTERVENTION','SECTION_D_TRAINING_WLEDGE_DISSEMINATION'], inplace=True)
drop_Data1 = data.drop(columns=['SECTION_E_RELATIONS_ITH_EXTENSION_AGENTS', 'SECTION_F_MARKET_AC_RODUCTION_CHALLENGES','SECTION_G_CLIMATE_A_RONMENTAL_CHALLENGES','SECTION_H_SATISFACT_FUTURE_EXPECTATIONS','_uuid','_submission_time','_validation_status','_notes','_status','_submitted_by','__version__','__version__'], inplace=True)
# Verify the columns have been removed
data


# drop_Data1 = drop_Data1.iloc[:, 63:79]
# drop_Data1.head()

,start,end,_1_Name_of_the_respondent,_2_Mobile_phone,_3_Gender,_4_Community,_5_LGA,_6_State,_7_Cooperative_name,_8_Language_of_interview,...,_58_How_would_you_rat_in_the_last_5_years,_59_Since_Farm_on_Wh_tion_level_increased,_60_Have_you_experie_hin_the_last_5_years,_61_If_yes_kindly_choose_from_the_list,_62_How_has_insecurit_hin_the_last_5_years,_73_What_is_the_curr_ecurity_in_your_area,_28_How_much_did_you_ybean_per_KG_in_2023,_id,_tags,_index
0,2024-09-09 15:24:30.423000+01:00,2024-09-10 22:01:02.695000+01:00,Samson Bulus Ajegena,14673664.0,male,Doma,Doma,nasarawa,Aya cooperative society,hausa,...,good,Yes,Yes,communal_clashes,i_lost_my_farmland_due_to_insecurity,normalcy_has_returned,320.0,593625172,NaN,1
1,2024-09-10 11:14:51.995000+01:00,2024-09-10 22:01:19.675000+01:00,Bashir Mohamed urman,61618055.0,male,Doma,Doma,nasarawa,Muffapp farms multipurpose cooperative society...,hausa,...,fair,Yes,Yes,communal_clashes,i_lost_some__all_my_yield__farm_produce,normalcy_has_returned,320.0,593625173,NaN,2
2,2024-09-10 11:30:59.012000+01:00,2024-09-10 22:01:10.155000+01:00,Manja Akolo Asoloko,18221944.0,male,Doma,Doma,nasarawa,Aya cooperative society,hausa,...,good,Yes,Yes,communal_clashes,i_lost_some__all_my_yield__farm_produce,normalcy_has_returned,320.0,593625175,NaN,3
3,2024-09-10 14:54:22.364000+01:00,2024-09-10 22:01:26.872000+01:00,Padama Mamuda,65094844.0,male,Doma,Doma,nasarawa,Aya cooperative society,hausa,...,excellent,Yes,Yes,communal_clashes,i_lost_some__all_my_yield__farm_produce,normalcy_has_returned,320.0,593625176,NaN,4
4,2024-09-10 15:08:49.979000+01:00,2024-09-10 22:00:52.039000+01:00,Moses Omame,67180588.0,male,Doma,Doma,nasarawa,Aya cooperative society,hausa,...,good,Yes,Yes,communal_clashes,i_relocated_due_to_insecurity,normalcy_has_returned,320.0,593625177,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324,2024-09-11 13:07:08.999000+01:00,2024-09-17 11:21:49.194000+01:00,Tanko Adamu,805112420.0,male,Takuti Abuja,Lapai,niger,Egiramatu farmer cooperative,others_specify,...,good,Yes,No,NaN,NaN,NaN,NaN,595607579,NaN,325
325,2024-09-11 13:26:40.486000+01:00,2024-09-17 11:22:53.866000+01:00,Mohd Bello,905942961.0,male,Takuti Abuja,Lapai,niger,Usman Daudu Cooperative,hausa,...,good,Yes,No,NaN,NaN,NaN,NaN,595607584,NaN,326
326,2024-09-11 13:53:22.321000+01:00,2024-09-17 11:23:50.256000+01:00,Salihu Adamu,811655060.0,male,Takuti Abuja,Lapai,niger,Egiramatu farmer cooperative,hausa,...,good,Yes,No,NaN,NaN,NaN,NaN,595607588,NaN,327
327,2024-09-11 14:19:13.822000+01:00,2024-09-17 11:25:55.375000+01:00,Mohd Musa,815520011.0,male,Takuti Abuja,Lapai,niger,Usman Daudu farmer Cooperative,hausa,...,good,Yes,No,NaN,NaN,NaN,NaN,595607594,NaN,328
328,2024-09-11 14:29:56.303000+01:00,2024-09-17 11:24:40.519000+01:00,Harisu Ibrahim,NaN,male,Takuti Abuja,Lapai,niger,Egiramatu farmer cooperative,hausa,...,good,Yes,No,NaN,NaN,NaN,NaN,595607604,NaN,329

In [436]:
# Assuming `_11_Age_of_Respondent` contains string or numeric values
# data1['_11_Age_of_Respondent'] = data['_11_Age_of_Respondent'].astype(str).apply(lambda x: x[:2] + '-' + x[2:] if len(x) > 2 else x)
data1 = data['_11_Age_of_Respondent'].astype(str).str[:2] + '-' + data['_11_Age_of_Respondent'].astype(str).str[2:]
data1.head()

0    31-40
1    41-50
2    20-30
3    20-30
4    20-30
Name: _11_Age_of_Respondent, dtype: object

In [444]:
# Check unique values in the column
print(data['_11_Age_of_Respondent'].unique())

['3140' '4150' '2030' '5160' '60_and_above']

In [484]:

# Create a function to convert age to ranges
def age_to_range(age):
    try:
        lower = (age // 10) * 10  # Get the lower bound of the range
        upper = lower + 9        # Get the upper bound of the range
        return f"{lower}-{upper}"  # Return the range as a string
    except:
        return None  # Handle invalid entries

# Apply the function to the column to create ranges
data['_11_Age_Range'] = data['_11_Age_of_Respondent'].apply(age_to_range)

# Save the modified data to a new variable
modified_data = data.copy()

# Save the modified data to a CSV file
# modified_data.to_csv('modified_data.csv', index=False)

# Print the modified data
modified_data.head()

,start,end,_1_Name_of_the_respondent,_2_Mobile_phone,_3_Gender,_4_Community,_5_LGA,_6_State,_7_Cooperative_name,_8_Language_of_interview,...,_59_Since_Farm_on_Wh_tion_level_increased,_60_Have_you_experie_hin_the_last_5_years,_61_If_yes_kindly_choose_from_the_list,_62_How_has_insecurit_hin_the_last_5_years,_73_What_is_the_curr_ecurity_in_your_area,_28_How_much_did_you_ybean_per_KG_in_2023,_id,_tags,_index,_11_Age_Range
0,2024-09-09 15:24:30.423000+01:00,2024-09-10 22:01:02.695000+01:00,Samson Bulus Ajegena,14673664.0,male,Doma,Doma,nasarawa,Aya cooperative society,hausa,...,Yes,Yes,communal_clashes,i_lost_my_farmland_due_to_insecurity,normalcy_has_returned,320.0,593625172,NaN,1,nan-nan
1,2024-09-10 11:14:51.995000+01:00,2024-09-10 22:01:19.675000+01:00,Bashir Mohamed urman,61618055.0,male,Doma,Doma,nasarawa,Muffapp farms multipurpose cooperative society...,hausa,...,Yes,Yes,communal_clashes,i_lost_some__all_my_yield__farm_produce,normalcy_has_returned,320.0,593625173,NaN,2,nan-nan
2,2024-09-10 11:30:59.012000+01:00,2024-09-10 22:01:10.155000+01:00,Manja Akolo Asoloko,18221944.0,male,Doma,Doma,nasarawa,Aya cooperative society,hausa,...,Yes,Yes,communal_clashes,i_lost_some__all_my_yield__farm_produce,normalcy_has_returned,320.0,593625175,NaN,3,nan-nan
3,2024-09-10 14:54:22.364000+01:00,2024-09-10 22:01:26.872000+01:00,Padama Mamuda,65094844.0,male,Doma,Doma,nasarawa,Aya cooperative society,hausa,...,Yes,Yes,communal_clashes,i_lost_some__all_my_yield__farm_produce,normalcy_has_returned,320.0,593625176,NaN,4,nan-nan
4,2024-09-10 15:08:49.979000+01:00,2024-09-10 22:00:52.039000+01:00,Moses Omame,67180588.0,male,Doma,Doma,nasarawa,Aya cooperative society,hausa,...,Yes,Yes,communal_clashes,i_relocated_due_to_insecurity,normalcy_has_returned,320.0,593625177,NaN,5,nan-nan

In [486]:
# Map to convert values into ranges
age_mapping = {
    2030.0: "20-30",
    3140.0: "31-40",
    4150.0: "41-50"
}

# Replace values using the mapping
data['_11_Age_of_Respondent'] = data['_11_Age_of_Respondent'].map(age_mapping)

# Save the modified data to a new variable
modified_data = data.copy()

# Save to CSV
modified_data.to_csv('modified_data2.csv', index=False)

# Display the modified data
modified_data.head()

,start,end,_1_Name_of_the_respondent,_2_Mobile_phone,_3_Gender,_4_Community,_5_LGA,_6_State,_7_Cooperative_name,_8_Language_of_interview,...,_59_Since_Farm_on_Wh_tion_level_increased,_60_Have_you_experie_hin_the_last_5_years,_61_If_yes_kindly_choose_from_the_list,_62_How_has_insecurit_hin_the_last_5_years,_73_What_is_the_curr_ecurity_in_your_area,_28_How_much_did_you_ybean_per_KG_in_2023,_id,_tags,_index,_11_Age_Range
0,2024-09-09 15:24:30.423000+01:00,2024-09-10 22:01:02.695000+01:00,Samson Bulus Ajegena,14673664.0,male,Doma,Doma,nasarawa,Aya cooperative society,hausa,...,Yes,Yes,communal_clashes,i_lost_my_farmland_due_to_insecurity,normalcy_has_returned,320.0,593625172,NaN,1,nan-nan
1,2024-09-10 11:14:51.995000+01:00,2024-09-10 22:01:19.675000+01:00,Bashir Mohamed urman,61618055.0,male,Doma,Doma,nasarawa,Muffapp farms multipurpose cooperative society...,hausa,...,Yes,Yes,communal_clashes,i_lost_some__all_my_yield__farm_produce,normalcy_has_returned,320.0,593625173,NaN,2,nan-nan
2,2024-09-10 11:30:59.012000+01:00,2024-09-10 22:01:10.155000+01:00,Manja Akolo Asoloko,18221944.0,male,Doma,Doma,nasarawa,Aya cooperative society,hausa,...,Yes,Yes,communal_clashes,i_lost_some__all_my_yield__farm_produce,normalcy_has_returned,320.0,593625175,NaN,3,nan-nan
3,2024-09-10 14:54:22.364000+01:00,2024-09-10 22:01:26.872000+01:00,Padama Mamuda,65094844.0,male,Doma,Doma,nasarawa,Aya cooperative society,hausa,...,Yes,Yes,communal_clashes,i_lost_some__all_my_yield__farm_produce,normalcy_has_returned,320.0,593625176,NaN,4,nan-nan
4,2024-09-10 15:08:49.979000+01:00,2024-09-10 22:00:52.039000+01:00,Moses Omame,67180588.0,male,Doma,Doma,nasarawa,Aya cooperative society,hausa,...,Yes,Yes,communal_clashes,i_relocated_due_to_insecurity,normalcy_has_returned,320.0,593625177,NaN,5,nan-nan

In [490]:

# Define the conversion logic
income_mapping = {
    'a__less_than_50_000': 25000,  # mid-value for less than 50,000
    'b__51_000_100_000': 75000    # mid-value for 51,000-100,000
}

# Replace the categories with numeric values
data['_16_Average_monthly_income'] = data['_16_Average_monthly_income'].map(income_mapping)

# Save the modified data to a new variable
modified_data3 = data.copy()

# Calculate the average income
average_income = modified_data3['_16_Average_monthly_income'].mean()


# Print the modified data and the calculated average income
modified_data3.head()
# print(f"Average Income: {average_income}")

# Save to CSV
# modified_data3.to_csv('modified_data3.csv', index=False)

,start,end,_1_Name_of_the_respondent,_2_Mobile_phone,_3_Gender,_4_Community,_5_LGA,_6_State,_7_Cooperative_name,_8_Language_of_interview,...,_59_Since_Farm_on_Wh_tion_level_increased,_60_Have_you_experie_hin_the_last_5_years,_61_If_yes_kindly_choose_from_the_list,_62_How_has_insecurit_hin_the_last_5_years,_73_What_is_the_curr_ecurity_in_your_area,_28_How_much_did_you_ybean_per_KG_in_2023,_id,_tags,_index,_11_Age_Range
0,2024-09-09 15:24:30.423000+01:00,2024-09-10 22:01:02.695000+01:00,Samson Bulus Ajegena,14673664.0,male,Doma,Doma,nasarawa,Aya cooperative society,hausa,...,Yes,Yes,communal_clashes,i_lost_my_farmland_due_to_insecurity,normalcy_has_returned,320.0,593625172,NaN,1,nan-nan
1,2024-09-10 11:14:51.995000+01:00,2024-09-10 22:01:19.675000+01:00,Bashir Mohamed urman,61618055.0,male,Doma,Doma,nasarawa,Muffapp farms multipurpose cooperative society...,hausa,...,Yes,Yes,communal_clashes,i_lost_some__all_my_yield__farm_produce,normalcy_has_returned,320.0,593625173,NaN,2,nan-nan
2,2024-09-10 11:30:59.012000+01:00,2024-09-10 22:01:10.155000+01:00,Manja Akolo Asoloko,18221944.0,male,Doma,Doma,nasarawa,Aya cooperative society,hausa,...,Yes,Yes,communal_clashes,i_lost_some__all_my_yield__farm_produce,normalcy_has_returned,320.0,593625175,NaN,3,nan-nan
3,2024-09-10 14:54:22.364000+01:00,2024-09-10 22:01:26.872000+01:00,Padama Mamuda,65094844.0,male,Doma,Doma,nasarawa,Aya cooperative society,hausa,...,Yes,Yes,communal_clashes,i_lost_some__all_my_yield__farm_produce,normalcy_has_returned,320.0,593625176,NaN,4,nan-nan
4,2024-09-10 15:08:49.979000+01:00,2024-09-10 22:00:52.039000+01:00,Moses Omame,67180588.0,male,Doma,Doma,nasarawa,Aya cooperative society,hausa,...,Yes,Yes,communal_clashes,i_relocated_due_to_insecurity,normalcy_has_returned,320.0,593625177,NaN,5,nan-nan